body {
    		background-color: #333;
    	}

    	.bg-div {
    		position: fixed;
    		background-image: url(river.jpg);
 			top: 0;
 			left: 0;
 			right: 0;
 			bottom: 0;
    		margin: 0 auto;
    	}

    	.logo{
    		background-image: url(logo.png);
    		width: 107px;
    		height: 53px;
    		float:left;
    		margin: -4px 18px 0 0;
    	}

    	form{
    		float: left;
    		background-color: white;
    		padding: 5px;
    	}

    	.search-input-text {
    		border: 0;
    		float: left;
    		height: 25px;
    		line-height: 25px;
    		outline: none;
    		width: 350px;
    	}

    	.search-input-button {
    		border: 0;
    		background-image: url(search-button.png);
    		width: 29px;
    		height: 29px;
    		float: left;
    		cursor: pointer;
    	}

    	.search-box {
    		position: absolute;
    		top: 200px;
    		left: 300px;
    	}

    	.suggest {
    		width: 388px;
    		background-color: white;
    		border: 1px solid #999;
    	}

    	.suggest ul {
    		list-style: none;
    		margin: 0;
    		padding: 0;
    	}

    	.suggest ul li {
    		padding: 3px;
    		font-size: 14px;
    		line-height: 25px;
    		cursor: pointer;
    	}

    	.suggest ul li:hover {
    		text-decoration: underline;
    		background-color: #e5e5e5;
    	}


